#headerimg
{
    margin: 0 0 0 10%;
}
body
{
    background-color: #ffffff;
}
#the_stage
{
	border:1px solid #999;
    border-radius: 4px;
    padding-top: 20;
    margin: auto;
    display: block;
}
#pred_text
{
	font-weight: bold;
	font-size: 200%;
}
#rec_result
{
	margin: 0px 30px 0px 10px;
    word-wrap: break-word;
	font-size: 200%;
}
#button
{

	padding: 0;
    margin-left: auto;
}
.butt
{
    margin: 0px 10px 0px 10px;
    width: 90px;
    font-size: 16px;
}
p
{
    font-size: 16px;
}
#my_column
{
	position:relative;
	padding: 0;
    margin: auto;
    display: block;
}

/* Footer */
	#footer {
		padding: 3rem 0 1rem 0 ;
		background: #000;
		text-align: center;
	}

		#footer a {
			color: rgba(255, 255, 255, 0.5);
		}

			#footer a:hover {
				color: #FFF;
			}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0;
			text-align: center;
		}
		
		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1rem 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2rem;
				}
